@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

:root {
    --background: url("../assets/images/blog2.jpg");
    --form-bg: rgb(239, 245, 243);
}

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: chibold;
    src: url("../assets/fonts/CHIBOLD\ demo.ttf");
    font-weight: 300;
}

.form {
    background-color: var(--form-bg);
    backdrop-filter: blur(-20px);
}

.textInput:focus {
   border: none;
}

.signup_bg {
    background-image: var(--background);
    background-repeat: no-repeat;
    background-size: fill;
}

.signin_bg {
    background-image: var(--background);
    background-repeat: no-repeat;
    background-size: fill;
} 


/* profile */

.profile_banner {
    background: url("../assets/images/user-banner.jpg");
    background-position: 25% 35%;
    position: relative;
    top: 0;
}

.profile_banner::after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: "";
    background-color: rgba(80, 79, 79, 0.5);
    backdrop-filter: blur(-20px);
}

.text_shadow {
    text-shadow: 2px 2px 6px #5a4d4d, -2px -2px 6px #5a4d4d;
}

.shadow_box {
    box-shadow: 2px 2px 16px 2px #969494, -2px -2px 16px 2px #969494;
}
